---
import Layout from "../../layouts/Layout.astro";
import { Form } from "../../components/Shorten/Form.jsx";
---

<Layout title="ixScren">
  <main class="mt">
    <section class="flex f-col mt center middle gap-sm">
      <header class="pt txt-center flex f-col">
        <div>
          <h2>PolyShorten</h2>
          <p>Acortador de urls.</p>
        </div>
      </header>
      <Form client:only="react" />
    </section>
  </main>
</Layout>
