---
import Layout from "../../layouts/Layout.astro";
import { Qrgen } from "../../components/Qrgen/Qrgen.jsx";
import { Toaster } from "react-hot-toast";
---

<Layout title="QRGEN">
  <div><Toaster client:only="react" /></div>
  <main class="container">
    <section class="flex f-col mt center middle gap-sm">
      <header class="pt txt-center flex f-col">
        <div>
          <h2>QRGEN</h2>
          <p>Genera un código qr personalizable.</p>
        </div>
      </header>
      <Qrgen client:only="react" />
    </section>
  </main>
</Layout>
